$extensions.setSubscriptionFilter({
  "filterGroup": [
    {
      "filters" : [
        {
          "fieldName" : "FriendId",
          "operator" : "eq",
          "value" : $context.arguments.FriendId
        },
        {
          "fieldName" : "Status",
          "operator" : "eq",
          "value" : "REQUESTED"
        }
      ]
    }
  ]
})
$util.toJson($ctx.result)