$extensions.setSubscriptionFilter({
  "filterGroup": [
    {
      "filters" : [
        {
          "fieldName" : "ConversationId",
          "operator" : "eq",
          "value" : $context.arguments.ConversationId
        }
      ]
    }
  ]
})
$util.toJson($ctx.result)